
  <div class="problem">
      <div class="grid-container">

          @for (row of description; track row; let index = $index) {
              @if (index % dimension == 0) {
                  <div class="row">
                      @for (cell of description; track cell; let ix = $index) {
                          @if (ix >= ((index / dimension))* dimension && ix < ((index / dimension) + 1) * dimension) {
                            <div class="cell" id = "light-{{ cell }}" data-index="ix.toString()" >{{ cell }}</div>
                          }
                      }
                  </div>
              }
          }
        </div>
  </div>

