
<div class="problem">
    <div class="grid-container">
        
        @for (row of description; track row; let index = $index) {
            @if (index % dimension == 0) {
                <div class="row">
                    @for (cell of description; track cell; let ix = $index) {
                        @if (ix >= ((index / dimension))* dimension) {
                            @if (ix < ((index / dimension) + 1) * dimension){
                                <div class="cell" [class.light-1]="cell === 1" 
                                [class.light-0]="cell === 0" 
                                (click)="toggleCell(ix); toggleAdjacentTiles(ix)"> </div>
                            }
                        }
                    }
                </div>
            }
        }
      </div>
</div>
