<button class="regular-button" id="view-all">View All</button>
<div class="dimension-selector">
    <h2>Dimension</h2>
    <div class="dimensions">
        <button class="regular-button" id="3">3x3</button>
        <button class="regular-button" id="4">4x4</button>
        <button class="regular-button" id="5">5x5</button>
        <button class="regular-button" id="6">6x6</button>
        <button class="regular-button" id="7">7x7</button>
        <button class="regular-button" id="8">8x8</button>
    </div>
</div>
<button class="regular-button" id="create-new">Create new</button>
